.wrapper {
    height: 100vh;
    // background: $black;

    .container {
        // margin: 0 auto;
        max-width: 1000px;
        // padding: 20px;
        box-sizing: border-box
    }

    main {
        position: relative;
    }
}


a {
    color: $white;
    text-decoration: none;
}